body{
  margin: 20px;

}

.speech,.stage-direction,.name{
  color: black;
  font-family: sans-serif;
  font-size: 16px;
}

.stage-direction{
  background-color: lightpink;
}
    
.stage-direction:hover{
 background-color: green;
 color: white;
}
 .duke,.duchess,.thirdCitizen,.firstCitizen,.secondCitizen,.cardinal{
  color: orange;
 }
 .duke:hover,.duchess:hover,.thirdCitizen:hover,.firstCitizen:hover,.secondCitizen:hover,.cardinal:hover{
 color:blue;
 text-shadow: 1px 10px red;
 border: 1px solid green;
 filter: blur(1px);
}
h4{
  position: relative;
  padding-left: 5%
}
h4::before{
  content: "";
  background: url('icon.png');
  background-size: cover;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -4px;
}

 td,th
{ 
    border: 1px solid ;
    text-align: center;
    width: 50px;
    color: blue;
    padding: 5px;
    margin: 5px;
}

th{
  font-weight: 900;
  font-size: 14px;
  color: black;
  background-color: yellow;
}

table {
  width: 50%;
  height: 150px;
  border: 2px solid;
}

.buttonLink{
  padding: 10px;
  border: 1px solid;
  width: 175px;
  margin: 10px 0;
  background-color: lightgray;
}

ul.navbar-horizontal {list-style-type: none;margin: 15px 0;padding: 5px; width:30%;}
ul.navbar-horizontal a {color:#000;}
ul.navbar-horizontal li:hover{  background-color: yellow;color: black;}
ul.navbar-horizontal li {float: left; background-color: green; padding: 10px; }
